/* Global Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

/* Navbar Styling */
.navbar {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #218838;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar-search input {
    padding: 7px;
    border-radius: 4px;
    border: none;
    width: 350px;
    height: 35px;
    font-size: 1rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #ffcc00;
}

.navbar-language select {
    padding: 6px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    color: #218838;
    margin-left: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.navbar-language select:hover {
    background-color: #ffcc00;
    color: #fff;
}

/* Card Styling */
.card-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.card {
    display: flex;
    background-color: white;
    width: 100%;
    height: 500px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-details {
    padding: 40px;
    padding-left: 130px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.card-details h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #4CAF50;
}

.card-details p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

.card-details strong {
    font-weight: bold;
    color: #333;
}

.card-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Reversed card styling for image on the left */
.card-reverse {
    flex-direction: row-reverse;
    margin-top: 20px;
}

.card-reverse .card-image img {
    border-radius: 12px 12px 12px 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-center {
        margin-top: 10px;
    }

    .navbar-search input {
        width: 100%;
    }

    .card {
        flex-direction: column;
        height: auto;
    }

    .card-image img {
        border-radius: 12px 12px 0 0;
    }

    .card-reverse .card-image img {
        border-radius: 12px 12px 0 0;
    }
}

/* Footer styles */
.footer {
    background-color: #4CAF50;
    color: #ecf0f1;
    padding: 2px ;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}